@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
  font-size: 16px;
}

body {
	background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

#root {
	display: flex;
  justify-content: center;
  width: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
